<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ABOUT Page /about</title>
</head>

<body>
    <div class="main-c">
        {{>header}}
        <p>This site created by <a href="https://musfik.me">Musfik </a>.It uses data from Mapbox.com and darksky.net.
        </p><hr>
        <img src="/img/js.jpg" class="portrait" alt="">
    </div>
    {{>footer}}
</body>

</html>